
.navmenu-div {
  background-color: #328c43;
  display: flex;
  height: 60px;
  padding-top: 10px;
}

.navmenu-div a {
  width: 280px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #5b74ff;
  color: white;
}

.register-form{
    width: 550px;
    margin-left: 680px;
}

#btn{
    margin-left: 155px;
    width: 250px;
}

#register-naslov{
    margin-left: 210px;
}

#login-naslov{
    margin-left: 225px;
}

.logout-navmenu{
  padding-left: 1330px;
}

#logout-button{
  width: 180px;
}

.reg-login {
  display: flex;
}

#btn-nova-cokolada{
  width: 300px;
  margin-top: 25px;
  margin-left: 800px;
  height: 55px;
  font-size: 22px;
}

.tabela-dash{
  width: 900px;
  margin-top: 30px;
  margin-left: 530px;
}

.novacokolada-form{
  width: 550px;
  margin-top: 50px;
  margin-left: 700px;
}

.konvertor {
  width: 450px;
  font-size: 25px;
  margin-left: 720px;
  margin-top: 50px;
}

#konv-btn {
  width: 200px;
  margin-top: 20px;
  margin-left: 110px;
  font-size: 20px;
}

.homeprikazcokolada-div{
  width: 1800px;
}

#btn-korpa{
  margin-left: 12px;
}

.cokolada-home-div{
  margin-top: 100px;
}

#cena {
  margin-left: 15px;
}

#cokolada-naziv{
  margin-right: -15px;
}

.cokolade-flex{
  display: flex;
  justify-content: space-evenly;
}

.pretraga-div{
  margin-top: 30px;
  margin-bottom: -70px;
  display: flex;
}

#pretraga-input{
  margin-top: 20px;
  margin-left: 340px;
  margin-right: 20px;
  width: 250px;
  height: 38px;
}

#btn-pretraga{
  margin-top: 20px;
  width: 140px;
  height: 38px;
}

.pretragaisortiranje-div{
  display: flex;
}

#btn-sort{
  margin-left: 30px;
  width: 120px;
}

.sort-div{
  display:flex;
  margin-left: 350px;
  margin-top: 50px;
}

#lbl-krit{
  margin-right:5px;
  padding-top: 5px;
}

#lbl-pored{
  margin-left:20px;
  padding-top: 5px;
  margin-right: 5px;
}

#slct-krit{
  width: 150px;
}

#slct-pored{
  width: 150px;
}